body {
  margin: 0;
  padding: 0;
}

.howTheF {
  background: url(https://images.unsplash.com/3/alejandroescamilla-book.jpg?dpr=2&fit=crop&fm=jpg&h=600&q=50&w=1125);
  background-position: center;
  background-size: cover;
  padding-top: 8%;
  padding-bottom: 5%;
}


header, h1, h4{
  text-align: center;
}

img {
  max-height: 300px;
  margin-left: 36.5%;
  border-radius: 20px;
  margin-top: 3%;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 5em;
  font-weight: lighter;
  margin-top: -2%;
}

h4 {
  margin-top: 5%;
  font-family: cursive;
  font-weight: bold;
  font-size: 1.25em;
}

hr {
  width: 70%;
}

header {
  font-size: 1.25em;
  font-weight: lighter;
  margin-bottom: 5%;
  margin-top: -3%;
}
.cols {
  width: 95%;
}
.colA, .colB {
  display: inline-block;
  width: 40%;
  margin-left: 8%;
  padding-top: 5%;
  vertical-align: top;
}
